html {

  font-family: 1vw;
}



*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --colorbase: #135d66;
  --colorheader: #092635;
  --colorfooter: #77b0aa;
  --colormain: #092635;
  --azul: #007bff;
  --blanco: #fff;
}

.cabecera {
  background-color: var(--colorheader);
  padding: 3rem 0;
  height: 8rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.menu {
  display: flex;
  justify-content: space-around;
  padding-right: 1rem;
}

.nav_menu {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav_menu li {
  display: inline;
}

.nav_menu a {
  text-decoration: none;
  color: var(--colorfooter);
  font-size: 1.5rem;
  padding: 1rem 1.4rem;
  transition: color 0.3s ease;
}

.menu img {
  width: 8%;
  margin-top: -3rem;
}

.nav_menu a:hover {
  color: var(--azul);
}

.nav_menu a.active {
  border-bottom: 2px solid var(--azul);
}

section {
  padding: 60px 20px;
  margin-top: 5rem;

}

h2 {
  margin-top: 0;
}

footer {
  background-color: var(--colorfooter);
  /* Color de fondo del pie de página */
  padding: 1rem 0;
  /* Espaciado en la parte superior e inferior */
  text-align: center;
  /* Centrar el contenido */
  height: 6rem;
}

.footer-container {
  display: flex;
  justify-content: center;
  /* Centrar horizontalmente los elementos */
  gap: 5rem;
  /* Espaciado entre los íconos */
}

.footer-link {
  color: var(--colorbase);
  /* Color de los íconos */
  font-size: 5rem;
  /* Tamaño de los íconos */
  text-decoration: none;
  /* Eliminar subrayado */
  transition: color 0.3s;
  /* Transición suave para el cambio de color */
}

.footer-link:hover {
  color: #3498DB;
  /* Color de los íconos al pasar el ratón */
}

body {
  background-color: gray
}

#contenido {
  width: 90%;


  margin-top: 10rem;
  margin-left: 5%;
  background-color: var(--colorbase);
  margin-bottom: 1rem;
}

.titulos {
  font-size: 3rem;
  text-align: center;
  color: var(--blanco);
  padding-top: 5rem;
}


.presentacion {

  display: flex;
  margin-top: 15rem;
}

.presentacion .foto,
.presentacion .texto {
  margin-top: -15rem;
  padding-top: 1rem;
  width: 50%;
  margin-bottom: 2rem;
  /* Cada uno ocupa el 50% del ancho del contenedor .presentacion */
}

.presentacion .foto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-tamanio {
  width: 70%;
  height: 25rem;
  border-radius: 90rem;
  font-size: 100%;
}

.texto {
  color: var(--blanco);
  padding-left: -2rem;
  margin-right: 10rem;
  font-size: 1.7rem;
}

#PROYECTOS .proyectos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* Permite que las tarjetas se envuelvan a la siguiente línea */
  padding: 20px;
  /* Añade un padding alrededor del contenedor */
}

.card {
  border: solid white 0.2rem;
  border-radius: 2rem;
  width: 35%;

  /* Limita el ancho máximo de las tarjetas */
  height: 100%;
  margin: 1rem 2rem;
  margin-top: 1rem;
  background-color: #7ed7c1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Distribuye el espacio verticalmente */
  align-items: center;
  padding: 1rem;
  /* Añade espacio interno a las tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card__title {
  text-align: center;
  margin-top: -10px;
  /* Ajusta el margen superior */
  font-size: 70%;
}

.card__body {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__img {

  width: 70%;
  /* Asegura que la imagen ocupe el ancho completo del contenedor */
  height: 30rem;
  /* Ajusta la altura automáticamente */
  border-radius: 10px;
  /* Agrega bordes redondeados */
  object-fit: cover;
  /* Ajusta la imagen para cubrir el área asignada */
  transition: transform 0.3s ease;
}

.card__img:hover {
  transform: scale(1.1);
  /* Escala la imagen al hacer hover */
  cursor: pointer;
}

.body__title {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.card__body a{
  text-decoration: none;
  color: var(--blanco);
}
.button_slide {
  margin-top: 1REM;
  color: var(--colorheader);
  border: 3px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 17px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.button_slide:hover {
  color: var(--blanco);
}

.slide_down:hover {
  box-shadow: inset 0 100px 0 0 #D80286;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #D80286;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #D80286;
}

.slide_diagonal:hover {
  box-shadow: inset 400px 50px 0 0 #D80286;
}

#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}

h2 {
  color: var(--blanco);
  font-size: 2rem;
}




#TECNOLOGIAS,
#CERTIFICADOS {

  text-align: center;
  /* Centra el contenido horizontalmente */
  padding: 20px;
  padding-bottom: 5rem;
  /* Añade un espacio alrededor del contenido */

}

#TECNOLOGIAS .titulos,
#CERTIFICADOS .titulos {
  margin-top: 3rem;


}

.tecnologias,
.certificado {

  display: flex;
  flex-wrap: wrap;
  /* Permite que las imágenes se envuelvan a la siguiente línea */
  justify-content: center;
  /* Centra las imágenes horizontalmente */
  gap: 3rem;
  /* Espacio entre las imágenes */

}




.img_tecnologia,
.img_certificado {
  width: 25%;
  /* Tamaño deseado para las imágenes */
  height: 15rem;

  /* Tamaño deseado para las imágenes */
}

.img_tecnologia img {
  width: 100%;
  /* Ajusta la imagen al tamaño del contenedor */
  height: 100%;
  /* Ajusta la imagen al tamaño del contenedor */
  object-fit: contain;
  /* Ajusta la imagen dentro del tamaño especificado */
  border-radius: 10px;
  /* Opcional: Agrega bordes redondeados */
  box-shadow: 0 4px 8px rgba(17, 186, 14, 0.425);
  /* Opcional: Agrega sombra */
  transition: transform 0.3s ease;
  /* Opcional: Transición al hacer hover */
}


.img_tecnologia img:hover,
.img_certificado img:hover {
  transform: scale(1.1);
  /* Opcional: Escala la imagen al hacer hover */
}



.img_certificado img {

  width: 100%;
  /* Ajusta la imagen al tamaño del contenedor */
  height: 100%;
  /* Ajusta la imagen al tamaño del contenedor */
  object-fit: contain;
  /* Ajusta la imagen dentro del tamaño especificado */
  border-radius: 10px;
  /* Opcional: Agrega bordes redondeados */
  box-shadow: 0 5px 80px rgba(42, 32, 163, 0.559);
  /* Opcional: Agrega sombra */
  transition: transform 0.3s ease;
  /* Opcional: Transición al hacer hover */
}


#menu {
  z-index: 2;
}

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  color: var(--colorfooter);
  font-size: 3.5rem;
}

.hamburger {
  transition: 0.3s ease;
  display: none;
  /* Inicialmente oculto */
}

.hamburger ul {
  padding: 0 22px;
  /* Espacio alrededor de los elementos de la lista */
}

.hamburger li {
  list-style: none;
  /* Quita los puntos de la lista */
  padding: 12px 0;
  /* Espacio entre elementos de lista */
}

.hamburger li a {
  color: var(--blanco);
  /* Color del texto */
  font-size: 1.3rem;
  /* Tamaño de la fuente */
  text-decoration: none;
  /* Quita el subrayado */
}

.hamburger li a:hover {
  font-weight: bold;
  /* Fuente en negrita al pasar el ratón */
  background-color: var(--colorfooter);
  /* Color de fondo al pasar el ratón */
}

.menu-bg,
#menu {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;
  /* Coloca el menú por encima de otros elementos */
}

.menu-bg {
  z-index: 1;
  /* Coloca el fondo del menú detrás del menú desplegable */
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  /* Margen del fondo del menú */
  background: radial-gradient(circle, var(--colorheader), var(--colorheader));
  /* Fondo del menú */
  border-radius: 50%;
  /* Borde redondeado */
  transition: 0.3s ease;
  /* Transición suave */
}

.change {
  display: block;
  /* Mostrar cuando se activa */
}

.change-bg {
  width: 520px;
  /* Cambio de tamaño */
  height: 460px;
  /* Cambio de tamaño */
  transform: translate(-61%, -13%);
  /* Cambio de posición */
}

@media (min-width: 960px) {
  #menu {
    display: none;
    /* Ocultar el menú completo en pantallas grandes */
  }


}

@media (max-width: 959px) {
  .nav_menu {

    display: none !important;
    /* Ocultar el elemento .nav_menu en pantallas pequeñas */
  }


  .cabecera {
    height: 1rem;
   

  }

  .menu img {
    width: 12%;
    margin-top: -3rem;
  }

  .titulos {
    font-size: 2.5rem;
  }


  .presentacion {
    display: block;
    width: 80%;
    margin: 18rem 5rem 2rem 8rem;


  }


  .presentacion .foto {
    width: 80%;
    align-items: center;

  }

  .presentacion .texto {

    width: 80%;
    margin-top: -1rem;



    /* Cada uno ocupa el 50% del ancho del contenedor .presentacion */
  }

  .card {

    width: 70%;


  }

  .img_tecnologia,
  .img_certificado {
    width: 40%;
    /* Tamaño deseado para las imágenes */
    height: 15rem;

    /* Tamaño deseado para las imágenes */
  }
}