 body {
 width: 100%;
    background: rgb(33, 153, 116);
        background: linear-gradient(90deg, rgba(33, 153, 116, 0.9632645294445903) 0%, rgba(63, 173, 130, 1) 28%, rgba(17, 108, 173, 0.8596230728619573) 100%);
 }

 h2 {


     display: block;
     font-size: 40px;

 }

.formulario  {
    text-align: center;
    background-color:#102C57;
     width: 95%;
   
  padding: 1px;  
    margin: 50px;
   
    height: 300px;
    font-size: 45px;
    display: block;
   
    align-items: center;
    color: white;
    border-radius: 30px;

}

.resultado {
    background-color:#55AD9B;
    padding-bottom: 10px;
    border-radius: 25px;
    text-align: center;

}


 #buscador {

    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100px;
 }

 @media (max-width: 360px) {
    

    body {
           width: 100%;
        }
        
    h2 {
        font-size: 25px;
        margin: 1px;
        padding: 2px;
      }


.formulario
      {
         width: 100%;
         margin: 0;
        
      }

.resultado {
            background-color: #55AD9B;
             padding-bottom: 10px;
           }
  

#buscador {
        font-size: 20px;
      margin-bottom: 10px;
         }
     
 #resultado {
            border-radius: 25px;
            text-align: left;
            margin-bottom: 20px;
             }
                   
   
     
 }