 body {
 width: 100%;
    background: rgb(33, 153, 116);
        background: linear-gradient(90deg, rgba(33, 153, 116, 0.9632645294445903) 0%, rgba(63, 173, 130, 1) 28%, rgba(17, 108, 173, 0.8596230728619573) 100%);
 }
 img {
     width: 50%;
     width: 500px;
     height: 500px;
     margin-left: 80px;
     border-radius: 25px;



 }
 h2 {


     display: block;

 }

.formulario  {
    text-align: center;
    background-color:#102C57;
 width: 90%;
   
  padding: 1px;  
    margin: 50px;
    height: 700px;
    font-size: 35px;
    display: block;
   
    align-items: center;
    color: white;
    border-radius: 30px;

}



 .informacion {
    text-align: justify;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 30px;
 }
  
 .datos {

    width: 100%;
    padding: 20px;
    margin: 10px;
    width: 250px;
 }

 .imagen {
    width: 50%;

 }

 

 .datos1 {
    width:48% ;
    margin-right: 15px;
    align-content: center;
    margin-bottom: 4px;
    margin-left: -5.7px;
    

 }

 .datos2 {
     padding-left: -10px;
     margin-left: -8px;
     width: 45%;
     align-content: center;
 }

 #buscador {

    width: 120%;
    align-items: center;
    justify-content: center;
 }

 @media (max-width: 360px) {
     body {
         width: 100%;
        

     }
.formulario
      {
         width: 200%;
       
         margin:  50px 0.5px  50px 40px;
   
     }

     img {
              width: 50%;
              width: 250px;
              height: 500px;
              margin-left: 80px;
              border-radius: 25px;
    
    
    
          }
     
 }